# Use this file as a template for .devdata.env
# Currently not supported, since tox-envfile does not support tox version >= 4
# https://github.com/hypothesis/tox-envfile/pull/12

### General

# Path to RIOTBASE
# RIOTBASE=/path/to/RIOT
